@border-1px: 1px solid #ccc;

.example {
  .header {
    width: 100%;
    background-color: #44CEF6;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 15px 0;
  }

  @media (max-width: 359px) {
    .header, .footer {
      font-size: 15px;
    }
  }
  @media (min-width: 360px) and (max-width: 414px) {
    .header, .footer {
      font-size: 18px;
    }
  }
  @media (min-width: 415px) {
    .header, .footer {
      font-size: 24px;
    }
  }

  .entry {
    padding: 10px 20px;
    border-bottom: @border-1px;
  }

  .entry:first-child {
    border-top: @border-1px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #44CEF6;
    text-align: center;
    color: #fff;
    padding: 15px 0;
  }
}